NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
EMAIL_FROM_NAME=朋友加一
EMAIL_FROM_ADDRESS=

CRON_SECRET=
INVITATION_TOKEN_SECRET=
